

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ru" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Пагинация &mdash; wiki от 1</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../_static/language_data.js"></script>
        <script type="text/javascript" src="../../_static/translations.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Алфавитный указатель" href="../../genindex.html" />
    <link rel="search" title="Поиск" href="../../search.html" />
    <link rel="next" title="Формы" href="../forms/index.html" />
    <link rel="prev" title="Представления в виде классов" href="cbv.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../index.html" class="icon icon-home"> wiki
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">DJANGO</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../settings.html">Конфигурирование проекта</a></li>
<li class="toctree-l2"><a class="reference internal" href="../models/index.html">Модель</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.html">Представления</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="request.html">Запросы</a></li>
<li class="toctree-l3"><a class="reference internal" href="response.html">Ответы</a></li>
<li class="toctree-l3"><a class="reference internal" href="fbv.html">Представления в виде функции</a></li>
<li class="toctree-l3"><a class="reference internal" href="cbv.html">Представления в виде классов</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Пагинация</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#paginator">Paginator</a></li>
<li class="toctree-l4"><a class="reference internal" href="#page">Page</a></li>
<li class="toctree-l4"><a class="reference internal" href="#invalidpage">InvalidPage</a></li>
<li class="toctree-l4"><a class="reference internal" href="#pagenotaninteger">PageNotAnInteger</a></li>
<li class="toctree-l4"><a class="reference internal" href="#emptypage">EmptyPage</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../forms/index.html">Формы</a></li>
<li class="toctree-l2"><a class="reference internal" href="../templates.html">Шаблоны</a></li>
<li class="toctree-l2"><a class="reference internal" href="../urls.html">Роутинг</a></li>
<li class="toctree-l2"><a class="reference internal" href="../signals.html">Сигналы</a></li>
<li class="toctree-l2"><a class="reference internal" href="../contrib/index.html">Батарейки</a></li>
<li class="toctree-l2"><a class="reference internal" href="../auth/index.html">Пользователи, права, авторизация</a></li>
<li class="toctree-l2"><a class="reference internal" href="../cli.html">Консольные команды</a></li>
<li class="toctree-l2"><a class="reference internal" href="../faq.html">Другое</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../django-extentions/index.html">DJANGO-EXTENTIONS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../html/index.html">HTML</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../html5/index.html">HTML5</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../css/index.html">CSS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../js/index.html">JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bootstrap/index.html">BOOTSTRAP</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../jquery/index.html">JQUERY</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../vuejs/index.html">VUE.JS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../environment/index.html">Environment</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">wiki</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../index.html">DJANGO</a> &raquo;</li>
        
          <li><a href="index.html">Представления</a> &raquo;</li>
        
      <li>Пагинация</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/django/views/pagination.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="id1">
<h1>Пагинация<a class="headerlink" href="#id1" title="Ссылка на этот заголовок">¶</a></h1>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.core.paginator</span> <span class="kn">import</span> <span class="n">Paginator</span><span class="p">,</span> <span class="n">EmptyPage</span><span class="p">,</span> <span class="n">PageNotAnInteger</span>

<span class="k">def</span> <span class="nf">post_list</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="n">object_list</span> <span class="o">=</span> <span class="n">Post</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">all</span><span class="p">()</span>

    <span class="c1"># 3 сообщения на страницу</span>
    <span class="n">paginator</span> <span class="o">=</span> <span class="n">Paginator</span><span class="p">(</span><span class="n">object_list</span><span class="p">,</span> <span class="mi">3</span><span class="p">)</span>
    <span class="n">page</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">GET</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s1">&#39;page&#39;</span><span class="p">)</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="n">posts</span> <span class="o">=</span> <span class="n">paginator</span><span class="o">.</span><span class="n">page</span><span class="p">(</span><span class="n">page</span><span class="p">)</span>
    <span class="k">except</span> <span class="n">PageNotAnInteger</span><span class="p">:</span>
        <span class="n">posts</span> <span class="o">=</span> <span class="n">paginator</span><span class="o">.</span><span class="n">page</span><span class="p">(</span><span class="mi">1</span><span class="p">)</span>
    <span class="k">except</span> <span class="n">EmptyPage</span><span class="p">:</span>
        <span class="n">posts</span> <span class="o">=</span> <span class="n">paginator</span><span class="o">.</span><span class="n">page</span><span class="p">(</span><span class="n">paginator</span><span class="o">.</span><span class="n">num_pages</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">render</span><span class="p">(</span>
        <span class="n">request</span><span class="p">,</span>
        <span class="s1">&#39;posts.html&#39;</span><span class="p">,</span>
        <span class="p">{</span>
            <span class="s1">&#39;page&#39;</span><span class="p">:</span> <span class="n">page</span><span class="p">,</span>
            <span class="s1">&#39;posts&#39;</span><span class="p">:</span> <span class="n">posts</span><span class="p">,</span>
        <span class="p">},</span>
    <span class="p">)</span>
</pre></div>
</div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span><span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;pagination&quot;</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;step-links&quot;</span><span class="p">&gt;</span>
        {% if page.has_previous %}
            <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;?page={{ page.previous_page_number }}&quot;</span><span class="p">&gt;</span>Previous<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
        {% endif %}
            <span class="p">&lt;</span><span class="nt">span</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;current&quot;</span><span class="p">&gt;</span>
                Page {{ page.number }} of {{ page.paginator.num_pages }}.
            <span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
        {% if page.has_next %}
            <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;?page={{ page.next_page_number }}&quot;</span><span class="p">&gt;</span>Next<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
        {% endif %}
    <span class="p">&lt;/</span><span class="nt">span</span><span class="p">&gt;</span>
<span class="p">&lt;/</span><span class="nt">div</span><span class="p">&gt;</span>
</pre></div>
</div>
<div class="section" id="paginator">
<h2>Paginator<a class="headerlink" href="#paginator" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="class">
<dt id="django.core.paginator.Paginator">
<em class="property">class </em><code class="sig-prename descclassname">django.core.paginator.</code><code class="sig-name descname">Paginator</code><a class="headerlink" href="#django.core.paginator.Paginator" title="Ссылка на это определение">¶</a></dt>
<dd><ul class="simple">
<li><p>orphans - минимальное количество позиции, допустимое на последней странице.</p></li>
<li><p>allow_empty_first_page - по умолчанию False,
что вызовет исключение если список элементов пуст.
Если True - ошибки не будет.</p></li>
</ul>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="n">paginator</span> <span class="o">=</span> <span class="n">Paginator</span><span class="p">(</span><span class="n">queryset</span><span class="p">,</span> <span class="mi">3</span><span class="p">)</span>
</pre></div>
</div>
<dl class="attribute">
<dt id="django.core.paginator.Paginator.count">
<code class="sig-name descname">count</code><a class="headerlink" href="#django.core.paginator.Paginator.count" title="Ссылка на это определение">¶</a></dt>
<dd><p>Общее количесвто элементов в списке</p>
</dd></dl>

<dl class="attribute">
<dt id="django.core.paginator.Paginator.num_pages">
<code class="sig-name descname">num_pages</code><a class="headerlink" href="#django.core.paginator.Paginator.num_pages" title="Ссылка на это определение">¶</a></dt>
<dd><p>Общее количесвто страниц</p>
</dd></dl>

<dl class="attribute">
<dt id="django.core.paginator.Paginator.page_range">
<code class="sig-name descname">page_range</code><a class="headerlink" href="#django.core.paginator.Paginator.page_range" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает список, содержащий номера полученных страниц</p>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="n">paginator</span><span class="o">.</span><span class="n">page_range</span>
<span class="c1"># [1, 2, 3, ...]</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="django.core.paginator.Paginator.page">
<code class="sig-name descname">page</code><span class="sig-paren">(</span><em class="sig-param">page_number</em><span class="sig-paren">)</span><a class="headerlink" href="#django.core.paginator.Paginator.page" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает объект <a class="reference internal" href="#django.core.paginator.Page" title="django.core.paginator.Page"><code class="xref py py-class docutils literal notranslate"><span class="pre">django.core.paginator.Page</span></code></a>,
указанную страницу из списка.</p>
<p>Возбуждает исключения:</p>
<ul class="simple">
<li><p><a class="reference internal" href="#django.core.paginator.InvalidPage" title="django.core.paginator.InvalidPage"><code class="xref py py-class docutils literal notranslate"><span class="pre">django.core.paginator.InvalidPage</span></code></a> - если номер задан некорректно</p></li>
<li><p><a class="reference internal" href="#django.core.paginator.PageNotAnInteger" title="django.core.paginator.PageNotAnInteger"><code class="xref py py-class docutils literal notranslate"><span class="pre">django.core.paginator.PageNotAnInteger</span></code></a> - если номер задан некорректно</p></li>
<li><p><a class="reference internal" href="#django.core.paginator.EmptyPage" title="django.core.paginator.EmptyPage"><code class="xref py py-class docutils literal notranslate"><span class="pre">django.core.paginator.EmptyPage</span></code></a> - если обращение к несуществующей странице</p></li>
</ul>
</dd></dl>

</dd></dl>

</div>
<div class="section" id="page">
<h2>Page<a class="headerlink" href="#page" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="class">
<dt id="django.core.paginator.Page">
<em class="property">class </em><code class="sig-prename descclassname">django.core.paginator.</code><code class="sig-name descname">Page</code><a class="headerlink" href="#django.core.paginator.Page" title="Ссылка на это определение">¶</a></dt>
<dd><p>Объект, представляет страницу из пагинации</p>
<dl class="attribute">
<dt id="django.core.paginator.Page.number">
<code class="sig-name descname">number</code><a class="headerlink" href="#django.core.paginator.Page.number" title="Ссылка на это определение">¶</a></dt>
<dd><p>Номер текущей страницы</p>
</dd></dl>

<dl class="attribute">
<dt id="django.core.paginator.Page.paginator">
<code class="sig-name descname">paginator</code><a class="headerlink" href="#django.core.paginator.Page.paginator" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает <a class="reference internal" href="#django.core.paginator.Paginator" title="django.core.paginator.Paginator"><code class="xref py py-class docutils literal notranslate"><span class="pre">django.core.paginator.Paginator</span></code></a>,
которым была создана данная страница</p>
</dd></dl>

<dl class="method">
<dt id="django.core.paginator.Page.end_index">
<code class="sig-name descname">end_index</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#django.core.paginator.Page.end_index" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает номер последней позиции</p>
</dd></dl>

<dl class="method">
<dt id="django.core.paginator.Page.has_next">
<code class="sig-name descname">has_next</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#django.core.paginator.Page.has_next" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает булево, это не последняя страница</p>
</dd></dl>

<dl class="method">
<dt id="django.core.paginator.Page.has_other_pages">
<code class="sig-name descname">has_other_pages</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#django.core.paginator.Page.has_other_pages" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает булево, это не единственная страница</p>
</dd></dl>

<dl class="method">
<dt id="django.core.paginator.Page.has_previous">
<code class="sig-name descname">has_previous</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#django.core.paginator.Page.has_previous" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает булево, это не первая страница</p>
</dd></dl>

<dl class="method">
<dt id="django.core.paginator.Page.next_page_number">
<code class="sig-name descname">next_page_number</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#django.core.paginator.Page.next_page_number" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает номер следующей страницы</p>
<p>Возбуждает исключение <a class="reference internal" href="#django.core.paginator.InvalidPage" title="django.core.paginator.InvalidPage"><code class="xref py py-class docutils literal notranslate"><span class="pre">django.core.paginator.InvalidPage</span></code></a>
если это последняя страница</p>
</dd></dl>

<dl class="method">
<dt id="django.core.paginator.Page.previous_page_number">
<code class="sig-name descname">previous_page_number</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#django.core.paginator.Page.previous_page_number" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает номер предыдущей страницы</p>
<p>Возбуждает исключение <a class="reference internal" href="#django.core.paginator.InvalidPage" title="django.core.paginator.InvalidPage"><code class="xref py py-class docutils literal notranslate"><span class="pre">django.core.paginator.InvalidPage</span></code></a>
если это первая страница</p>
</dd></dl>

<dl class="method">
<dt id="django.core.paginator.Page.start_index">
<code class="sig-name descname">start_index</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#django.core.paginator.Page.start_index" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает индекс первой страницы</p>
</dd></dl>

</dd></dl>

</div>
<div class="section" id="invalidpage">
<h2>InvalidPage<a class="headerlink" href="#invalidpage" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="class">
<dt id="django.core.paginator.InvalidPage">
<em class="property">class </em><code class="sig-prename descclassname">django.core.paginator.</code><code class="sig-name descname">InvalidPage</code><a class="headerlink" href="#django.core.paginator.InvalidPage" title="Ссылка на это определение">¶</a></dt>
<dd><p>Исключение возникает, если номер задан некорректно</p>
</dd></dl>

</div>
<div class="section" id="pagenotaninteger">
<h2>PageNotAnInteger<a class="headerlink" href="#pagenotaninteger" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="class">
<dt id="django.core.paginator.PageNotAnInteger">
<em class="property">class </em><code class="sig-prename descclassname">django.core.paginator.</code><code class="sig-name descname">PageNotAnInteger</code><a class="headerlink" href="#django.core.paginator.PageNotAnInteger" title="Ссылка на это определение">¶</a></dt>
<dd><p>Исключение возникает, если номер задан некорректно</p>
<p>Наследник <a class="reference internal" href="#django.core.paginator.InvalidPage" title="django.core.paginator.InvalidPage"><code class="xref py py-class docutils literal notranslate"><span class="pre">django.core.paginator.InvalidPage</span></code></a></p>
</dd></dl>

</div>
<div class="section" id="emptypage">
<h2>EmptyPage<a class="headerlink" href="#emptypage" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="class">
<dt id="django.core.paginator.EmptyPage">
<em class="property">class </em><code class="sig-prename descclassname">django.core.paginator.</code><code class="sig-name descname">EmptyPage</code><a class="headerlink" href="#django.core.paginator.EmptyPage" title="Ссылка на это определение">¶</a></dt>
<dd><p>Исключение возникает, если обращение к несуществующей странице</p>
<p>Наследник <a class="reference internal" href="#django.core.paginator.InvalidPage" title="django.core.paginator.InvalidPage"><code class="xref py py-class docutils literal notranslate"><span class="pre">django.core.paginator.InvalidPage</span></code></a></p>
</dd></dl>

</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../forms/index.html" class="btn btn-neutral float-right" title="Формы" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="cbv.html" class="btn btn-neutral float-left" title="Представления в виде классов" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, trunin

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>