

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ru" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Запросы &mdash; wiki от 1</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../_static/language_data.js"></script>
        <script type="text/javascript" src="../../_static/translations.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Алфавитный указатель" href="../../genindex.html" />
    <link rel="search" title="Поиск" href="../../search.html" />
    <link rel="next" title="Ответы" href="response.html" />
    <link rel="prev" title="Представления" href="index.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../index.html" class="icon icon-home"> wiki
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">DJANGO</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../settings.html">Конфигурирование проекта</a></li>
<li class="toctree-l2"><a class="reference internal" href="../models/index.html">Модель</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.html">Представления</a><ul class="current">
<li class="toctree-l3 current"><a class="current reference internal" href="#">Запросы</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#httprequest">HttpRequest</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="response.html">Ответы</a></li>
<li class="toctree-l3"><a class="reference internal" href="fbv.html">Представления в виде функции</a></li>
<li class="toctree-l3"><a class="reference internal" href="cbv.html">Представления в виде классов</a></li>
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Пагинация</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../forms/index.html">Формы</a></li>
<li class="toctree-l2"><a class="reference internal" href="../templates.html">Шаблоны</a></li>
<li class="toctree-l2"><a class="reference internal" href="../urls.html">Роутинг</a></li>
<li class="toctree-l2"><a class="reference internal" href="../signals.html">Сигналы</a></li>
<li class="toctree-l2"><a class="reference internal" href="../contrib/index.html">Батарейки</a></li>
<li class="toctree-l2"><a class="reference internal" href="../auth/index.html">Пользователи, права, авторизация</a></li>
<li class="toctree-l2"><a class="reference internal" href="../cli.html">Консольные команды</a></li>
<li class="toctree-l2"><a class="reference internal" href="../faq.html">Другое</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../django-extentions/index.html">DJANGO-EXTENTIONS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../html/index.html">HTML</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../html5/index.html">HTML5</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../css/index.html">CSS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../js/index.html">JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bootstrap/index.html">BOOTSTRAP</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../jquery/index.html">JQUERY</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../vuejs/index.html">VUE.JS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../environment/index.html">Environment</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">wiki</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../index.html">DJANGO</a> &raquo;</li>
        
          <li><a href="index.html">Представления</a> &raquo;</li>
        
      <li>Запросы</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/django/views/request.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="id1">
<h1>Запросы<a class="headerlink" href="#id1" title="Ссылка на этот заголовок">¶</a></h1>
<div class="section" id="httprequest">
<h2>HttpRequest<a class="headerlink" href="#httprequest" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="class">
<dt id="django.http.HttpRequest">
<em class="property">class </em><code class="sig-prename descclassname">django.http.</code><code class="sig-name descname">HttpRequest</code><a class="headerlink" href="#django.http.HttpRequest" title="Ссылка на это определение">¶</a></dt>
<dd><p>Объект запроса</p>
<dl class="attribute">
<dt id="django.http.HttpRequest.GET">
<code class="sig-name descname">GET</code><a class="headerlink" href="#django.http.HttpRequest.GET" title="Ссылка на это определение">¶</a></dt>
<dd><p>Словарь get данных</p>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">index</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>

    <span class="n">good_id</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">GET</span><span class="p">[</span><span class="s1">&#39;id&#39;</span><span class="p">]</span>
</pre></div>
</div>
</dd></dl>

<dl class="attribute">
<dt id="django.http.HttpRequest.POST">
<code class="sig-name descname">POST</code><a class="headerlink" href="#django.http.HttpRequest.POST" title="Ссылка на это определение">¶</a></dt>
<dd><p>Словарь post данных</p>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">index</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>

    <span class="n">good_id</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">POST</span><span class="p">[</span><span class="s1">&#39;id&#39;</span><span class="p">]</span>
</pre></div>
</div>
</dd></dl>

<dl class="attribute">
<dt id="django.http.HttpRequest.REQUEST">
<code class="sig-name descname">REQUEST</code><a class="headerlink" href="#django.http.HttpRequest.REQUEST" title="Ссылка на это определение">¶</a></dt>
<dd><p>Словарь get и post данных</p>
</dd></dl>

<dl class="attribute">
<dt id="django.http.HttpRequest.method">
<code class="sig-name descname">method</code><a class="headerlink" href="#django.http.HttpRequest.method" title="Ссылка на это определение">¶</a></dt>
<dd><p>Строка, метод запроса</p>
</dd></dl>

<dl class="attribute">
<dt id="django.http.HttpRequest.path">
<code class="sig-name descname">path</code><a class="headerlink" href="#django.http.HttpRequest.path" title="Ссылка на это определение">¶</a></dt>
<dd><p>Строка, адрес текущей страницы без домена и параметров запроса</p>
</dd></dl>

<dl class="method">
<dt id="django.http.HttpRequest.build_absolute_uri">
<code class="sig-name descname">build_absolute_uri</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#django.http.HttpRequest.build_absolute_uri" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает строку, абсолютный путь до указанного относительного</p>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="n">post_url</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">build_absolute_uri</span><span class="p">(</span>
    <span class="n">post</span><span class="o">.</span><span class="n">get_absolute_url</span><span class="p">())</span>
</pre></div>
</div>
</dd></dl>

</dd></dl>

</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="response.html" class="btn btn-neutral float-right" title="Ответы" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="index.html" class="btn btn-neutral float-left" title="Представления" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, trunin

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>