

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ru" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Ответы &mdash; wiki от 1</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../_static/language_data.js"></script>
        <script type="text/javascript" src="../../_static/translations.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Алфавитный указатель" href="../../genindex.html" />
    <link rel="search" title="Поиск" href="../../search.html" />
    <link rel="next" title="Представления в виде функции" href="fbv.html" />
    <link rel="prev" title="Запросы" href="request.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../index.html" class="icon icon-home"> wiki
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">DJANGO</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../settings.html">Конфигурирование проекта</a></li>
<li class="toctree-l2"><a class="reference internal" href="../models/index.html">Модель</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.html">Представления</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="request.html">Запросы</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Ответы</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#http404">Http404</a></li>
<li class="toctree-l4"><a class="reference internal" href="#httpresponse">HttpResponse</a></li>
<li class="toctree-l4"><a class="reference internal" href="#render">render</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="fbv.html">Представления в виде функции</a></li>
<li class="toctree-l3"><a class="reference internal" href="cbv.html">Представления в виде классов</a></li>
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Пагинация</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../forms/index.html">Формы</a></li>
<li class="toctree-l2"><a class="reference internal" href="../templates.html">Шаблоны</a></li>
<li class="toctree-l2"><a class="reference internal" href="../urls.html">Роутинг</a></li>
<li class="toctree-l2"><a class="reference internal" href="../signals.html">Сигналы</a></li>
<li class="toctree-l2"><a class="reference internal" href="../contrib/index.html">Батарейки</a></li>
<li class="toctree-l2"><a class="reference internal" href="../auth/index.html">Пользователи, права, авторизация</a></li>
<li class="toctree-l2"><a class="reference internal" href="../cli.html">Консольные команды</a></li>
<li class="toctree-l2"><a class="reference internal" href="../faq.html">Другое</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../django-extentions/index.html">DJANGO-EXTENTIONS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../html/index.html">HTML</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../html5/index.html">HTML5</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../css/index.html">CSS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../js/index.html">JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bootstrap/index.html">BOOTSTRAP</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../jquery/index.html">JQUERY</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../vuejs/index.html">VUE.JS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../environment/index.html">Environment</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">wiki</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../index.html">DJANGO</a> &raquo;</li>
        
          <li><a href="index.html">Представления</a> &raquo;</li>
        
      <li>Ответы</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/django/views/response.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="id1">
<h1>Ответы<a class="headerlink" href="#id1" title="Ссылка на этот заголовок">¶</a></h1>
<div class="section" id="http404">
<h2>Http404<a class="headerlink" href="#http404" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="class">
<dt id="django.http.Http404">
<em class="property">class </em><code class="sig-prename descclassname">django.http.</code><code class="sig-name descname">Http404</code><a class="headerlink" href="#django.http.Http404" title="Ссылка на это определение">¶</a></dt>
<dd><p>Исключение генерируется если страница не найдена</p>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">index</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">good_id</span><span class="p">):</span>
    <span class="k">try</span><span class="p">:</span>
        <span class="n">good</span> <span class="o">=</span> <span class="n">Goods</span><span class="o">.</span><span class="n">objects</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="nb">id</span><span class="o">=</span><span class="n">good_id</span><span class="p">)</span>
    <span class="k">except</span> <span class="n">Good</span><span class="o">.</span><span class="n">DoesNotExists</span><span class="p">:</span>
        <span class="k">raise</span> <span class="n">Http404</span><span class="p">()</span>
    <span class="o">...</span>
</pre></div>
</div>
</dd></dl>

</div>
<div class="section" id="httpresponse">
<h2>HttpResponse<a class="headerlink" href="#httpresponse" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="class">
<dt id="django.http.HttpResponse">
<em class="property">class </em><code class="sig-prename descclassname">django.http.</code><code class="sig-name descname">HttpResponse</code><a class="headerlink" href="#django.http.HttpResponse" title="Ссылка на это определение">¶</a></dt>
<dd><p>Ответ сервера</p>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="k">def</span> <span class="nf">index</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="k">return</span> <span class="n">HttpResponse</span><span class="p">(</span><span class="s1">&#39;Hello world&#39;</span><span class="p">)</span>
</pre></div>
</div>
</dd></dl>

</div>
<div class="section" id="render">
<h2>render<a class="headerlink" href="#render" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="method">
<dt id="django.shortcuts.render">
<code class="sig-prename descclassname">django.shortcuts.</code><code class="sig-name descname">render</code><span class="sig-paren">(</span><em class="sig-param">**kwargs</em><span class="sig-paren">)</span><a class="headerlink" href="#django.shortcuts.render" title="Ссылка на это определение">¶</a></dt>
<dd><p>Возвращает строку, отрендеренная html страница</p>
<ul class="simple">
<li><p>request - <code class="xref py py-class docutils literal notranslate"><span class="pre">HttpRequest</span></code>, запрос</p></li>
<li><p>template_name - строка, путь к файлу шаблона относительно папки с шаблонами приложения</p></li>
<li><p>context=None - контекст, который будет передаваться в шаблон</p></li>
<li><p>context_instance=_context_instance_undefined -</p></li>
<li><p>content_type=None -</p></li>
<li><p>status=None -</p></li>
<li><p>current_app=_current_app_undefined -</p></li>
<li><p>dirs=_dirs_undefined -</p></li>
<li><p>dictionary=_dictionary_undefined -</p></li>
<li><p>using=None -</p></li>
</ul>
</dd></dl>

</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="fbv.html" class="btn btn-neutral float-right" title="Представления в виде функции" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="request.html" class="btn btn-neutral float-left" title="Запросы" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, trunin

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>