

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ru" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Сообщения &mdash; wiki от 1</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../../" src="../../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../../_static/jquery.js"></script>
        <script type="text/javascript" src="../../_static/underscore.js"></script>
        <script type="text/javascript" src="../../_static/doctools.js"></script>
        <script type="text/javascript" src="../../_static/language_data.js"></script>
        <script type="text/javascript" src="../../_static/translations.js"></script>
    
    <script type="text/javascript" src="../../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../../_static/pygments.css" type="text/css" />
    <link rel="index" title="Алфавитный указатель" href="../../genindex.html" />
    <link rel="search" title="Поиск" href="../../search.html" />
    <link rel="next" title="Сессии" href="sessions.html" />
    <link rel="prev" title="Типы содержаний" href="contenttypes.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../../index.html" class="icon icon-home"> wiki
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="../index.html">DJANGO</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../settings.html">Конфигурирование проекта</a></li>
<li class="toctree-l2"><a class="reference internal" href="../models/index.html">Модель</a></li>
<li class="toctree-l2"><a class="reference internal" href="../views/index.html">Представления</a></li>
<li class="toctree-l2"><a class="reference internal" href="../forms/index.html">Формы</a></li>
<li class="toctree-l2"><a class="reference internal" href="../templates.html">Шаблоны</a></li>
<li class="toctree-l2"><a class="reference internal" href="../urls.html">Роутинг</a></li>
<li class="toctree-l2"><a class="reference internal" href="../signals.html">Сигналы</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="index.html">Батарейки</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="contenttypes.html">Типы содержаний</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Сообщения</a><ul>
<li class="toctree-l4"><a class="reference internal" href="#add-message">add_message</a></li>
<li class="toctree-l4"><a class="reference internal" href="#debug">debug</a></li>
<li class="toctree-l4"><a class="reference internal" href="#info">info</a></li>
<li class="toctree-l4"><a class="reference internal" href="#success">success</a></li>
<li class="toctree-l4"><a class="reference internal" href="#warning">warning</a></li>
<li class="toctree-l4"><a class="reference internal" href="#error">error</a></li>
<li class="toctree-l4"><a class="reference internal" href="#successmessagemixin">SuccessMessageMixin</a></li>
<li class="toctree-l4"><a class="reference internal" href="#id2">Уровни сообщений</a></li>
</ul>
</li>
<li class="toctree-l3"><a class="reference internal" href="sessions.html">Сессии</a></li>
<li class="toctree-l3"><a class="reference internal" href="sitemap.html">Карта сайта</a></li>
<li class="toctree-l3"><a class="reference internal" href="staticfiles.html">Статика</a></li>
<li class="toctree-l3"><a class="reference internal" href="syndication.html">Рассылки</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../auth/index.html">Пользователи, права, авторизация</a></li>
<li class="toctree-l2"><a class="reference internal" href="../cli.html">Консольные команды</a></li>
<li class="toctree-l2"><a class="reference internal" href="../faq.html">Другое</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../django-extentions/index.html">DJANGO-EXTENTIONS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../html/index.html">HTML</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../html5/index.html">HTML5</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../css/index.html">CSS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../js/index.html">JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bootstrap/index.html">BOOTSTRAP</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../jquery/index.html">JQUERY</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../vuejs/index.html">VUE.JS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../environment/index.html">Environment</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../../index.html">wiki</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../../index.html">Docs</a> &raquo;</li>
        
          <li><a href="../index.html">DJANGO</a> &raquo;</li>
        
          <li><a href="index.html">Батарейки</a> &raquo;</li>
        
      <li>Сообщения</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../../_sources/django/contrib/messages.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="id1">
<h1>Сообщения<a class="headerlink" href="#id1" title="Ссылка на этот заголовок">¶</a></h1>
<p>Система уведомлений пользователей о событии</p>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.contrib</span> <span class="kn">import</span> <span class="n">messages</span>

<span class="k">def</span> <span class="nf">some_view</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>

    <span class="c1"># ...</span>
    <span class="n">messages</span><span class="o">.</span><span class="n">success</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="s1">&#39;Some message&#39;</span><span class="p">)</span>
    <span class="c1"># ...</span>
</pre></div>
</div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>{% if messages %}
    <span class="p">&lt;</span><span class="nt">ul</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;messages&quot;</span><span class="p">&gt;</span>
        {% for message in messages %}
            <span class="p">&lt;</span><span class="nt">li</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;{{ message.tags }}&quot;</span><span class="p">&gt;</span>
                {{ message|safe }}
                <span class="p">&lt;</span><span class="nt">a</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;#&quot;</span> <span class="na">class</span><span class="o">=</span><span class="s">&quot;close&quot;</span><span class="p">&gt;</span>✖<span class="p">&lt;/</span><span class="nt">a</span><span class="p">&gt;</span>
            <span class="p">&lt;/</span><span class="nt">li</span><span class="p">&gt;</span>
        {% endfor %}
    <span class="p">&lt;/</span><span class="nt">ul</span><span class="p">&gt;</span>
{% endif %}
</pre></div>
</div>
<div class="section" id="add-message">
<h2>add_message<a class="headerlink" href="#add-message" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="method">
<dt id="django.contrib.messages.add_message">
<code class="sig-prename descclassname">django.contrib.messages.</code><code class="sig-name descname">add_message</code><span class="sig-paren">(</span><em class="sig-param">request</em>, <em class="sig-param">level</em>, <em class="sig-param">message</em><span class="sig-paren">)</span><a class="headerlink" href="#django.contrib.messages.add_message" title="Ссылка на это определение">¶</a></dt>
<dd><p>Добавляет сообщение с указанным уровнем в ответ.</p>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="n">message</span><span class="o">.</span><span class="n">add_message</span><span class="p">(</span>
    <span class="n">request</span><span class="p">,</span>
    <span class="n">message</span><span class="o">.</span><span class="n">SUCCESS</span>
<span class="p">)</span>
</pre></div>
</div>
</dd></dl>

</div>
<div class="section" id="debug">
<h2>debug<a class="headerlink" href="#debug" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="method">
<dt id="django.contrib.messages.debug">
<code class="sig-prename descclassname">django.contrib.messages.</code><code class="sig-name descname">debug</code><span class="sig-paren">(</span><em class="sig-param">request</em>, <em class="sig-param">message</em><span class="sig-paren">)</span><a class="headerlink" href="#django.contrib.messages.debug" title="Ссылка на это определение">¶</a></dt>
<dd><p>Добавляет отладочное сообщение</p>
</dd></dl>

</div>
<div class="section" id="info">
<h2>info<a class="headerlink" href="#info" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="method">
<dt id="django.contrib.messages.info">
<code class="sig-prename descclassname">django.contrib.messages.</code><code class="sig-name descname">info</code><span class="sig-paren">(</span><em class="sig-param">request</em>, <em class="sig-param">message</em><span class="sig-paren">)</span><a class="headerlink" href="#django.contrib.messages.info" title="Ссылка на это определение">¶</a></dt>
<dd><p>Добавляет информационное сообщение</p>
</dd></dl>

</div>
<div class="section" id="success">
<h2>success<a class="headerlink" href="#success" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="method">
<dt id="django.contrib.messages.success">
<code class="sig-prename descclassname">django.contrib.messages.</code><code class="sig-name descname">success</code><span class="sig-paren">(</span><em class="sig-param">request</em>, <em class="sig-param">message</em><span class="sig-paren">)</span><a class="headerlink" href="#django.contrib.messages.success" title="Ссылка на это определение">¶</a></dt>
<dd><p>Добавляет сообщение об успешном выолнений опреации</p>
</dd></dl>

</div>
<div class="section" id="warning">
<h2>warning<a class="headerlink" href="#warning" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="method">
<dt id="django.contrib.messages.warning">
<code class="sig-prename descclassname">django.contrib.messages.</code><code class="sig-name descname">warning</code><span class="sig-paren">(</span><em class="sig-param">request</em>, <em class="sig-param">message</em><span class="sig-paren">)</span><a class="headerlink" href="#django.contrib.messages.warning" title="Ссылка на это определение">¶</a></dt>
<dd><p>Добавляет сообщение с предупрежденеием</p>
</dd></dl>

</div>
<div class="section" id="error">
<h2>error<a class="headerlink" href="#error" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="method">
<dt id="django.contrib.messages.error">
<code class="sig-prename descclassname">django.contrib.messages.</code><code class="sig-name descname">error</code><span class="sig-paren">(</span><em class="sig-param">request</em>, <em class="sig-param">message</em><span class="sig-paren">)</span><a class="headerlink" href="#django.contrib.messages.error" title="Ссылка на это определение">¶</a></dt>
<dd><p>Добавляет сообщение с ошибкой</p>
</dd></dl>

</div>
<div class="section" id="successmessagemixin">
<h2>SuccessMessageMixin<a class="headerlink" href="#successmessagemixin" title="Ссылка на этот заголовок">¶</a></h2>
<dl class="class">
<dt id="django.contrib.messages.views.SuccessMessageMixin">
<em class="property">class </em><code class="sig-prename descclassname">django.contrib.messages.views.</code><code class="sig-name descname">SuccessMessageMixin</code><a class="headerlink" href="#django.contrib.messages.views.SuccessMessageMixin" title="Ссылка на это определение">¶</a></dt>
<dd><p>Миксин для предствалений, реализующий вывод сообщений</p>
<dl class="attribute">
<dt id="django.contrib.messages.views.SuccessMessageMixin.success_message">
<code class="sig-name descname">success_message</code><a class="headerlink" href="#django.contrib.messages.views.SuccessMessageMixin.success_message" title="Ссылка на это определение">¶</a></dt>
<dd><p>Строка с текстом об успешном выполненном действий</p>
</dd></dl>

</dd></dl>

</div>
<div class="section" id="id2">
<h2>Уровни сообщений<a class="headerlink" href="#id2" title="Ссылка на этот заголовок">¶</a></h2>
<div class="section" id="id3">
<h3>DEBUG<a class="headerlink" href="#id3" title="Ссылка на этот заголовок">¶</a></h3>
</div>
<div class="section" id="id4">
<h3>INFO<a class="headerlink" href="#id4" title="Ссылка на этот заголовок">¶</a></h3>
</div>
<div class="section" id="id5">
<h3>SUCCESS<a class="headerlink" href="#id5" title="Ссылка на этот заголовок">¶</a></h3>
</div>
<div class="section" id="id6">
<h3>WARNING<a class="headerlink" href="#id6" title="Ссылка на этот заголовок">¶</a></h3>
</div>
<div class="section" id="id7">
<h3>ERROR<a class="headerlink" href="#id7" title="Ссылка на этот заголовок">¶</a></h3>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="sessions.html" class="btn btn-neutral float-right" title="Сессии" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="contenttypes.html" class="btn btn-neutral float-left" title="Типы содержаний" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, trunin

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>