

<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="ru" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="ru" > <!--<![endif]-->
<head>
  <meta charset="utf-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Другое &mdash; wiki от 1</title>
  

  
  
  
  

  
  <script type="text/javascript" src="../_static/js/modernizr.min.js"></script>
  
    
      <script type="text/javascript" id="documentation_options" data-url_root="../" src="../_static/documentation_options.js"></script>
        <script type="text/javascript" src="../_static/jquery.js"></script>
        <script type="text/javascript" src="../_static/underscore.js"></script>
        <script type="text/javascript" src="../_static/doctools.js"></script>
        <script type="text/javascript" src="../_static/language_data.js"></script>
        <script type="text/javascript" src="../_static/translations.js"></script>
    
    <script type="text/javascript" src="../_static/js/theme.js"></script>

    

  
  <link rel="stylesheet" href="../_static/css/theme.css" type="text/css" />
  <link rel="stylesheet" href="../_static/pygments.css" type="text/css" />
    <link rel="index" title="Алфавитный указатель" href="../genindex.html" />
    <link rel="search" title="Поиск" href="../search.html" />
    <link rel="next" title="DJANGO-EXTENTIONS" href="../django-extentions/index.html" />
    <link rel="prev" title="Консольные команды" href="cli.html" /> 
</head>

<body class="wy-body-for-nav">

   
  <div class="wy-grid-for-nav">
    
    <nav data-toggle="wy-nav-shift" class="wy-nav-side">
      <div class="wy-side-scroll">
        <div class="wy-side-nav-search" >
          

          
            <a href="../index.html" class="icon icon-home"> wiki
          

          
          </a>

          
            
            
          

          
<div role="search">
  <form id="rtd-search-form" class="wy-form" action="../search.html" method="get">
    <input type="text" name="q" placeholder="Search docs" />
    <input type="hidden" name="check_keywords" value="yes" />
    <input type="hidden" name="area" value="default" />
  </form>
</div>

          
        </div>

        <div class="wy-menu wy-menu-vertical" data-spy="affix" role="navigation" aria-label="main navigation">
          
            
            
              
            
            
              <ul class="current">
<li class="toctree-l1 current"><a class="reference internal" href="index.html">DJANGO</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="settings.html">Конфигурирование проекта</a></li>
<li class="toctree-l2"><a class="reference internal" href="models/index.html">Модель</a></li>
<li class="toctree-l2"><a class="reference internal" href="views/index.html">Представления</a></li>
<li class="toctree-l2"><a class="reference internal" href="forms/index.html">Формы</a></li>
<li class="toctree-l2"><a class="reference internal" href="templates.html">Шаблоны</a></li>
<li class="toctree-l2"><a class="reference internal" href="urls.html">Роутинг</a></li>
<li class="toctree-l2"><a class="reference internal" href="signals.html">Сигналы</a></li>
<li class="toctree-l2"><a class="reference internal" href="contrib/index.html">Батарейки</a></li>
<li class="toctree-l2"><a class="reference internal" href="auth/index.html">Пользователи, права, авторизация</a></li>
<li class="toctree-l2"><a class="reference internal" href="cli.html">Консольные команды</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Другое</a><ul>
<li class="toctree-l3"><a class="reference internal" href="#email">Отправка email сообщений</a></li>
<li class="toctree-l3"><a class="reference internal" href="#python-social-auth">python-social-auth</a></li>
<li class="toctree-l3"><a class="reference internal" href="#redis">redis</a></li>
<li class="toctree-l3"><a class="reference internal" href="#celery">celery</a></li>
<li class="toctree-l3"><a class="reference internal" href="#django-paypal">django-paypal</a></li>
<li class="toctree-l3"><a class="reference internal" href="#translations">translations</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../django-extentions/index.html">DJANGO-EXTENTIONS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../html/index.html">HTML</a></li>
<li class="toctree-l1"><a class="reference internal" href="../html5/index.html">HTML5</a></li>
<li class="toctree-l1"><a class="reference internal" href="../css/index.html">CSS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../js/index.html">JavaScript</a></li>
<li class="toctree-l1"><a class="reference internal" href="../bootstrap/index.html">BOOTSTRAP</a></li>
<li class="toctree-l1"><a class="reference internal" href="../jquery/index.html">JQUERY</a></li>
<li class="toctree-l1"><a class="reference internal" href="../vuejs/index.html">VUE.JS</a></li>
<li class="toctree-l1"><a class="reference internal" href="../environment/index.html">Environment</a></li>
</ul>

            
          
        </div>
      </div>
    </nav>

    <section data-toggle="wy-nav-shift" class="wy-nav-content-wrap">

      
      <nav class="wy-nav-top" aria-label="top navigation">
        
          <i data-toggle="wy-nav-top" class="fa fa-bars"></i>
          <a href="../index.html">wiki</a>
        
      </nav>


      <div class="wy-nav-content">
        
        <div class="rst-content">
        
          















<div role="navigation" aria-label="breadcrumbs navigation">

  <ul class="wy-breadcrumbs">
    
      <li><a href="../index.html">Docs</a> &raquo;</li>
        
          <li><a href="index.html">DJANGO</a> &raquo;</li>
        
      <li>Другое</li>
    
    
      <li class="wy-breadcrumbs-aside">
        
            
            <a href="../_sources/django/faq.rst.txt" rel="nofollow"> View page source</a>
          
        
      </li>
    
  </ul>

  
  <hr/>
</div>
          <div role="main" class="document" itemscope="itemscope" itemtype="http://schema.org/Article">
           <div itemprop="articleBody">
            
  <div class="section" id="id1">
<h1>Другое<a class="headerlink" href="#id1" title="Ссылка на этот заголовок">¶</a></h1>
<div class="section" id="email">
<h2>Отправка email сообщений<a class="headerlink" href="#email" title="Ссылка на этот заголовок">¶</a></h2>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.core.mail</span> <span class="kn">import</span> <span class="n">send_mail</span>

<span class="n">send_mail</span><span class="p">(</span>
    <span class="s1">&#39;Django mail&#39;</span><span class="p">,</span>
    <span class="s1">&#39;This e-mail was sent with Django.&#39;</span><span class="p">,</span>
    <span class="s1">&#39;your_account@gmail.com&#39;</span><span class="p">,</span>
    <span class="p">[</span><span class="s1">&#39;your_account@gmail.com&#39;</span><span class="p">],</span>
    <span class="n">fail_silently</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="python-social-auth">
<h2>python-social-auth<a class="headerlink" href="#python-social-auth" title="Ссылка на этот заголовок">¶</a></h2>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># settings.py</span>

<span class="n">INSTALLED_APPS</span> <span class="o">=</span> <span class="p">(</span>
    <span class="o">...</span><span class="p">,</span>
    <span class="s1">&#39;social.apps.django_app.default&#39;</span><span class="p">,</span>
<span class="p">)</span>

<span class="c1"># ========</span>
<span class="c1"># Facebook</span>
<span class="c1"># https://developers.facebook.com/apps/?action=create</span>
<span class="c1"># ========</span>
<span class="n">AUTHENTICATION_BACKENDS</span> <span class="o">+=</span> <span class="p">(</span>
    <span class="s1">&#39;social.backends.facebook.Facebook2OAuth2&#39;</span><span class="p">,</span>
<span class="p">)</span>
<span class="n">SOCIAL_AUTH_FACEBOOK_KEY</span> <span class="o">=</span> <span class="s1">&#39;XXX&#39;</span>
<span class="n">SOCIAL_AUTH_FACEBOOK_SECRET</span> <span class="o">=</span> <span class="s1">&#39;XXX&#39;</span>
<span class="n">SOCIAL_AUTH_FACEBOOK_SCOPE</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;email&#39;</span><span class="p">]</span>

<span class="c1"># =======</span>
<span class="c1"># Twitter</span>
<span class="c1"># https://apps.twitter.com/app/new</span>
<span class="c1"># =======</span>
<span class="n">AUTHENTICATION_BACKENDS</span> <span class="o">+=</span> <span class="p">(</span>
    <span class="s1">&#39;social.backends.twitter.TwitterOAuth&#39;</span><span class="p">,</span>
<span class="p">)</span>
<span class="n">SOCIAL_AUTH_TWITTER_KEY</span> <span class="o">=</span> <span class="s1">&#39;XXX&#39;</span>
<span class="n">SOCIAL_AUTH_TWITTER_SECRET</span> <span class="o">=</span> <span class="s1">&#39;XXX&#39;</span>

<span class="c1"># =======</span>
<span class="c1"># Google</span>
<span class="c1"># https://console.developers.google.com/project</span>
<span class="c1"># =======</span>
<span class="n">SOCIAL_AUTH_GOOGLE_OAUTH2_KEY</span> <span class="o">=</span> <span class="s1">&#39;XXX&#39;</span>
<span class="n">SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET</span> <span class="o">=</span> <span class="s1">&#39;XXX&#39;</span>
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># urls.py</span>

<span class="n">url</span><span class="p">(</span>
    <span class="s1">&#39;social-auth/&#39;</span><span class="p">,</span>
    <span class="n">include</span><span class="p">(</span><span class="s1">&#39;social.apps.django_app.urls&#39;</span><span class="p">,</span> <span class="n">namespace</span><span class="o">=</span><span class="s1">&#39;social&#39;</span><span class="p">)),</span>
</pre></div>
</div>
<div class="highlight-html notranslate"><div class="highlight"><pre><span></span>&lt;div class=&quot;social&quot;&gt;
    &lt;ul&gt;
        &lt;li class=&quot;facebook&quot;&gt;
            &lt;a href=&quot;{% url &quot;social:begin&quot; &quot;facebook&quot; %}&quot;&gt;
                Sign in with Facebook&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;twitter&quot;&gt;
            &lt;a href=&quot;{% url &quot;social:begin&quot; &quot;twitter&quot; %}&quot;&gt;
                Login with Twitter&lt;/a&gt;&lt;/li&gt;
        &lt;li class=&quot;google&quot;&gt;
            &lt;a href=&quot;{% url &quot;social:begin&quot; &quot;google&quot; %}&quot;&gt;
                Login with Google&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
</pre></div>
</div>
</div>
<div class="section" id="redis">
<h2>redis<a class="headerlink" href="#redis" title="Ссылка на этот заголовок">¶</a></h2>
<p>redis-server - старт сервера
redis-cli - консольное управление</p>
<div class="highlight-sh notranslate"><div class="highlight"><pre><span></span>pip install redis
</pre></div>
</div>
<div class="highlight-sh notranslate"><div class="highlight"><pre><span></span><span class="c1"># добавляем ключ в хранилище</span>
<span class="m">127</span>.0.0.1:6379&gt; SET name <span class="s2">&quot;ilnurgi&quot;</span>
OK

<span class="c1"># получаем значение ключа</span>
<span class="m">127</span>.0.0.1:6379&gt; GET name
<span class="s2">&quot;ilnurgi&quot;</span>

<span class="c1"># проверяем существование ключа</span>
<span class="m">127</span>.0.0.1:6379&gt; EXISTS name
<span class="o">(</span>integer<span class="o">)</span> <span class="m">1</span>

<span class="c1"># ключ удалится из хранилища через 2 секунды</span>
<span class="m">127</span>.0.0.1:6379&gt; EXPIRE name <span class="m">2</span>
<span class="o">(</span>integer<span class="o">)</span> <span class="m">1</span>
<span class="m">127</span>.0.0.1:6379&gt; GET name
<span class="o">(</span>nil<span class="o">)</span>

<span class="m">127</span>.0.0.1:6379&gt; SET total <span class="m">1</span>
OK
<span class="m">127</span>.0.0.1:6379&gt; DEL total
<span class="o">(</span>integer<span class="o">)</span> <span class="m">1</span>
<span class="m">127</span>.0.0.1:6379&gt; GET total
<span class="o">(</span>nil<span class="o">)</span>
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># views.py</span>

<span class="kn">import</span> <span class="nn">redis</span>

<span class="n">r</span> <span class="o">=</span> <span class="n">redis</span><span class="o">.</span><span class="n">StrictRedis</span><span class="p">(</span><span class="n">host</span><span class="o">=</span><span class="s1">&#39;localhost&#39;</span><span class="p">,</span> <span class="n">port</span><span class="o">=</span><span class="mi">6379</span><span class="p">,</span> <span class="n">db</span><span class="o">=</span><span class="mi">0</span><span class="p">)</span>
<span class="n">r</span><span class="o">.</span><span class="n">set</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">,</span> <span class="s1">&#39;bar&#39;</span><span class="p">)</span>
<span class="n">value</span> <span class="o">=</span> <span class="n">r</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s1">&#39;foo&#39;</span><span class="p">)</span>

<span class="c1"># увеличит значение на 1,</span>
<span class="c1"># если ключа нет то создаст со значением 0 и вернет увеличенное значение</span>
<span class="n">value2</span> <span class="o">=</span> <span class="n">r</span><span class="o">.</span><span class="n">incr</span><span class="p">(</span><span class="s1">&#39;some_key&#39;</span><span class="p">)</span>
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># возвращает ключи словаря</span>
<span class="c1"># 0 - минимальное значение ключа</span>
<span class="c1"># -1 - максимальное значение,</span>
<span class="c1"># desc - обратная сортировка</span>
<span class="n">value2</span> <span class="o">=</span> <span class="n">r</span><span class="o">.</span><span class="n">zrange</span><span class="p">(</span><span class="s1">&#39;some_key&#39;</span><span class="p">,</span> <span class="mi">0</span><span class="p">,</span> <span class="o">-</span><span class="mi">1</span><span class="p">,</span> <span class="n">desc</span><span class="o">=</span><span class="bp">True</span><span class="p">)[:</span><span class="mi">10</span><span class="p">]</span>
</pre></div>
</div>
</div>
<div class="section" id="celery">
<h2>celery<a class="headerlink" href="#celery" title="Ссылка на этот заголовок">¶</a></h2>
<div class="highlight-sh notranslate"><div class="highlight"><pre><span></span>pip install celery
apt-get install rabbitmq

<span class="c1"># pip install flower</span>
<span class="c1"># celery -A myshop flower</span>
<span class="c1"># celery -A myshop worker -l info</span>
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># celery.py</span>

<span class="kn">import</span> <span class="nn">os</span>

<span class="kn">from</span> <span class="nn">celery</span> <span class="kn">import</span> <span class="n">Celery</span>

<span class="kn">from</span> <span class="nn">django.conf</span> <span class="kn">import</span> <span class="n">settings</span>

<span class="n">app</span> <span class="o">=</span> <span class="n">Celery</span><span class="p">(</span><span class="s1">&#39;myshop&#39;</span><span class="p">)</span>
<span class="n">app</span><span class="o">.</span><span class="n">config_from_object</span><span class="p">(</span><span class="s1">&#39;django.conf:settings&#39;</span><span class="p">)</span>
<span class="n">app</span><span class="o">.</span><span class="n">autodiscover_tasks</span><span class="p">(</span><span class="k">lambda</span><span class="p">:</span> <span class="n">settings</span><span class="o">.</span><span class="n">INSTALLED_APPS</span><span class="p">)</span>
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># tasks.py</span>

<span class="kn">from</span> <span class="nn">celery</span> <span class="kn">import</span> <span class="n">task</span>
<span class="kn">from</span> <span class="nn">django.core.mail</span> <span class="kn">import</span> <span class="n">send_mail</span>

<span class="nd">@task</span>
<span class="k">def</span> <span class="nf">send_mail_task</span><span class="p">(</span><span class="n">some_arg</span><span class="p">):</span>
    <span class="c1"># ...</span>
    <span class="k">return</span> <span class="n">send_mail</span><span class="p">(</span><span class="n">subject</span><span class="p">,</span> <span class="n">message</span><span class="p">,</span> <span class="n">admin_email</span><span class="p">,</span> <span class="p">[</span><span class="n">some_email</span><span class="p">])</span>
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># views.py</span>

<span class="k">def</span> <span class="nf">some_view</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>

    <span class="c1"># ...</span>
    <span class="n">send_mail_task</span><span class="o">.</span><span class="n">delay</span><span class="p">(</span><span class="n">some_arg</span><span class="p">)</span>
    <span class="c1"># ...</span>
</pre></div>
</div>
</div>
<div class="section" id="django-paypal">
<h2>django-paypal<a class="headerlink" href="#django-paypal" title="Ссылка на этот заголовок">¶</a></h2>
<div class="highlight-sh notranslate"><div class="highlight"><pre><span></span>pip install django-paypal
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># settings.py</span>

<span class="n">INSTALLED_APPS</span> <span class="o">=</span> <span class="p">(</span>
    <span class="c1"># ...</span>
    <span class="s1">&#39;paypal.standard.ipn&#39;</span><span class="p">,</span>
<span class="p">)</span>

<span class="n">PAYPAL_RECEIVER_EMAIL</span> <span class="o">=</span> <span class="s1">&#39;mypaypalemail@myshop.com&#39;</span>
<span class="n">PAYPAL_TEST</span> <span class="o">=</span> <span class="bp">True</span>
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># urls.py</span>

<span class="n">url</span><span class="p">(</span><span class="sa">r</span><span class="s1">&#39;^paypal/&#39;</span><span class="p">,</span> <span class="n">include</span><span class="p">(</span><span class="s1">&#39;paypal.standard.ipn.urls&#39;</span><span class="p">)),</span>
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># views.py</span>

<span class="kn">from</span> <span class="nn">decimal</span> <span class="kn">import</span> <span class="n">Decimal</span>

<span class="kn">from</span> <span class="nn">django.conf</span> <span class="kn">import</span> <span class="n">settings</span>
<span class="kn">from</span> <span class="nn">django.core.urlresolvers</span> <span class="kn">import</span> <span class="n">reverse</span>
<span class="kn">from</span> <span class="nn">django.shortcuts</span> <span class="kn">import</span> <span class="n">render</span><span class="p">,</span> <span class="n">get_object_or_404</span>

<span class="kn">from</span> <span class="nn">paypal.standard.forms</span> <span class="kn">import</span> <span class="n">PayPalPaymentsForm</span>

<span class="kn">from</span> <span class="nn">orders.models</span> <span class="kn">import</span> <span class="n">Order</span>

<span class="k">def</span> <span class="nf">payment_process</span><span class="p">(</span><span class="n">request</span><span class="p">):</span>
    <span class="n">order_id</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">session</span><span class="o">.</span><span class="n">get</span><span class="p">(</span><span class="s1">&#39;order_id&#39;</span><span class="p">)</span>
    <span class="n">order</span> <span class="o">=</span> <span class="n">get_object_or_404</span><span class="p">(</span><span class="n">Order</span><span class="p">,</span> <span class="nb">id</span><span class="o">=</span><span class="n">order_id</span><span class="p">)</span>
    <span class="n">host</span> <span class="o">=</span> <span class="n">request</span><span class="o">.</span><span class="n">get_host</span><span class="p">()</span>

    <span class="n">paypal_dict</span> <span class="o">=</span> <span class="p">{</span>
        <span class="s1">&#39;business&#39;</span><span class="p">:</span> <span class="n">settings</span><span class="o">.</span><span class="n">PAYPAL_RECEIVER_EMAIL</span><span class="p">,</span>
        <span class="s1">&#39;amount&#39;</span><span class="p">:</span> <span class="p">(</span>
            <span class="s1">&#39;</span><span class="si">%.2f</span><span class="s1">&#39;</span> <span class="o">%</span> <span class="n">order</span><span class="o">.</span><span class="n">get_total_cost</span><span class="p">()</span><span class="o">.</span><span class="n">quantize</span><span class="p">(</span><span class="n">Decimal</span><span class="p">(</span><span class="s1">&#39;.01&#39;</span><span class="p">))),</span>
        <span class="s1">&#39;item_name&#39;</span><span class="p">:</span> <span class="s1">&#39;Order {}&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">order</span><span class="o">.</span><span class="n">id</span><span class="p">),</span>
        <span class="s1">&#39;invoice&#39;</span><span class="p">:</span> <span class="nb">str</span><span class="p">(</span><span class="n">order</span><span class="o">.</span><span class="n">id</span><span class="p">),</span>
        <span class="s1">&#39;currency_code&#39;</span><span class="p">:</span> <span class="s1">&#39;USD&#39;</span><span class="p">,</span>
        <span class="s1">&#39;notify_url&#39;</span><span class="p">:</span> <span class="s1">&#39;http://{}{}&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">host</span><span class="p">,</span> <span class="n">reverse</span><span class="p">(</span><span class="s1">&#39;paypal-ipn&#39;</span><span class="p">)),</span>
        <span class="s1">&#39;return_url&#39;</span><span class="p">:</span> <span class="s1">&#39;http://{}{}&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">host</span><span class="p">,</span> <span class="n">reverse</span><span class="p">(</span><span class="s1">&#39;payment:done&#39;</span><span class="p">)),</span>
        <span class="s1">&#39;cancel_return&#39;</span><span class="p">:</span> <span class="p">(</span>
            <span class="s1">&#39;http://{}{}&#39;</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">host</span><span class="p">,</span> <span class="n">reverse</span><span class="p">(</span><span class="s1">&#39;payment:canceled&#39;</span><span class="p">))),</span>
    <span class="p">}</span>
    <span class="n">form</span> <span class="o">=</span> <span class="n">PayPalPaymentsForm</span><span class="p">(</span><span class="n">initial</span><span class="o">=</span><span class="n">paypal_dict</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">render</span><span class="p">(</span>
        <span class="n">request</span><span class="p">,</span>
        <span class="s1">&#39;payment/process.html&#39;</span><span class="p">,</span>
        <span class="p">{</span><span class="s1">&#39;order&#39;</span><span class="p">:</span> <span class="n">order</span><span class="p">,</span> <span class="s1">&#39;form&#39;</span><span class="p">:</span><span class="n">form</span><span class="p">},</span>
    <span class="p">)</span>
</pre></div>
</div>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="c1"># signals.py</span>

<span class="kn">from</span> <span class="nn">django.shortcuts</span> <span class="kn">import</span> <span class="n">get_object_or_404</span>

<span class="kn">from</span> <span class="nn">paypal.standard.models</span> <span class="kn">import</span> <span class="n">ST_PP_COMPLETED</span>
<span class="kn">from</span> <span class="nn">paypal.standard.ipn.signals</span> <span class="kn">import</span> <span class="n">valid_ipn_received</span>

<span class="kn">from</span> <span class="nn">orders.models</span> <span class="kn">import</span> <span class="n">Order</span>

<span class="k">def</span> <span class="nf">payment_notification</span><span class="p">(</span><span class="n">sender</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
    <span class="n">ipn_obj</span> <span class="o">=</span> <span class="n">sender</span>
    <span class="k">if</span> <span class="n">ipn_obj</span><span class="o">.</span><span class="n">payment_status</span> <span class="o">==</span> <span class="n">ST_PP_COMPLETED</span><span class="p">:</span>
        <span class="c1"># payment was successful</span>
        <span class="n">order</span> <span class="o">=</span> <span class="n">get_object_or_404</span><span class="p">(</span><span class="n">Order</span><span class="p">,</span> <span class="nb">id</span><span class="o">=</span><span class="n">ipn_obj</span><span class="o">.</span><span class="n">invoice</span><span class="p">)</span>
        <span class="c1"># mark the order as paid</span>
        <span class="n">order</span><span class="o">.</span><span class="n">paid</span> <span class="o">=</span> <span class="bp">True</span>
        <span class="n">order</span><span class="o">.</span><span class="n">save</span><span class="p">()</span>

<span class="n">valid_ipn_received</span><span class="o">.</span><span class="n">connect</span><span class="p">(</span><span class="n">payment_notification</span><span class="p">)</span>
</pre></div>
</div>
</div>
<div class="section" id="translations">
<h2>translations<a class="headerlink" href="#translations" title="Ссылка на этот заголовок">¶</a></h2>
<div class="highlight-py notranslate"><div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="kn">import</span> <span class="n">gettext</span> <span class="k">as</span> <span class="n">_</span>
<span class="kn">from</span> <span class="nn">django.utils.translation</span> <span class="kn">import</span> <span class="n">gettext_lazy</span><span class="p">,</span> <span class="n">ngettext</span><span class="p">,</span> <span class="n">ngettext_lazy</span>

<span class="n">output</span> <span class="o">=</span> <span class="n">_</span><span class="p">(</span><span class="s1">&#39;Text to be translated.&#39;</span><span class="p">)</span>
<span class="n">output</span> <span class="o">=</span> <span class="n">gettext_lazy</span><span class="p">(</span><span class="s1">&#39;Text to be translated.&#39;</span><span class="p">)</span>

<span class="n">output</span> <span class="o">=</span> <span class="n">ngettext</span><span class="p">(</span>
    <span class="s1">&#39;there is </span><span class="si">%(count)d</span><span class="s1"> product&#39;</span><span class="p">,</span>
    <span class="s1">&#39;there are </span><span class="si">%(count)d</span><span class="s1"> products&#39;</span><span class="p">,</span>
    <span class="n">count</span><span class="p">)</span> <span class="o">%</span> <span class="p">{</span><span class="s1">&#39;count&#39;</span><span class="p">:</span> <span class="n">count</span><span class="p">}</span>
</pre></div>
</div>
</div>
</div>


           </div>
           
          </div>
          <footer>
  
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      
        <a href="../django-extentions/index.html" class="btn btn-neutral float-right" title="DJANGO-EXTENTIONS" accesskey="n" rel="next">Next <span class="fa fa-arrow-circle-right"></span></a>
      
      
        <a href="cli.html" class="btn btn-neutral float-left" title="Консольные команды" accesskey="p" rel="prev"><span class="fa fa-arrow-circle-left"></span> Previous</a>
      
    </div>
  

  <hr/>

  <div role="contentinfo">
    <p>
        &copy; Copyright 2019, trunin

    </p>
  </div>
  Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a href="https://readthedocs.org">Read the Docs</a>. 

</footer>

        </div>
      </div>

    </section>

  </div>
  


  <script type="text/javascript">
      jQuery(function () {
          SphinxRtdTheme.Navigation.enable(true);
      });
  </script>

  
  
    
   

</body>
</html>